In [15]:
import pandas as pd 
import re
import spacy
from nltk.corpus import stopwords
nlp = spacy.load("en_core_web_sm")

In [21]:
df = pd.read_csv("new_jobs2.csv")

In [3]:
df.head()

,Unnamed: 0,job_name,job_type,company_name,job_location,job_date,num_of_people,experience_needed,career_level,education_level,...,salary,job_categories,skills_and_tools,job_description,job_requirements,key_job,posted_datetime,month,year,country
0,0,Front-end developer (Vue.js),['Full_Time'],Gulf Terminal,Mansoura Dakahlia Egypt,Posted 22 hours ago,8,"(3, 5)",Mid-Level,Not_Specified,...,Confidential,IT/Software Development,"['Computer_Science', 'developer', 'Front', 'fr...",['Use markup languages like HTML to create use...,['Proven work experience as a Front-end develo...,front end,2024-02-19 19:58:25.691668,2,2024,Egypt
1,1,Front End Developer,['Full_Time'],kafiil,Maadi Cairo Egypt,Posted 2 days ago,50,"(3, 6)",Senior,Not_Specified,...,Confidential,IT/Software Development,"['CSS3', 'CSS', 'Front_end', 'front-end', 'HTM...","['Mid to Senior Front End Developer', 'We are ...","['Proven experience as a Front End Developer, ...",front end,2024-02-18 17:58:25.694660,2,2024,Egypt
2,2,"Front End Developer (React , Nextjs 14)","['Freelance_/_Project', 'Work_From_Home']",Confidential,Ain Shams Cairo Egypt,Posted 3 days ago,22,"(3, 5)",Mid-Level,Not_Specified,...,Confidential,IT/Software Development,"['front-end', 'Development', 'JavaScript', 'We...",['Use markup languages like HTML to create use...,"['+ Implement performance improvements', '+ De...",front end,2024-02-17 17:58:25.695657,2,2024,Egypt
3,3,IT Front End Support Lead,['Full_Time'],DHL,Dubai United Arab Emirates,Posted 11 hours ago,0,-1,Not_Specified,Not_Specified,...,Confidential,IT/Software Development,"['Computer_Science', 'Information_Technology_(...",['COME JOIN THE WORLD’S MOST INTERNATIONAL COM...,none,front end,2024-02-20 06:58:25.695657,2,2024,Emirates
4,4,UI Designer and Front-End Developer,['Part_Time'],Ejad,Dokki Giza Egypt,Posted 6 days ago,63,"(2, 5)",Mid-Level,Not_Specified,...,Confidential,IT/Software Development,"['Bootstrap', 'Design', 'front-end', 'JavaScri...",['We are looking for a talented and experience...,['Proven work experience as a UI Designer and ...,front end,2024-02-14 17:58:25.695657,2,2024,Egypt

In [4]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         180 non-null    int64
 1   job_name           180 non-null    object
 2   job_type           180 non-null    object
 3   company_name       180 non-null    object
 4   job_location       180 non-null    object
 5   job_date           180 non-null    object
 6   num_of_people      180 non-null    int64
 7   experience_needed  180 non-null    object
 8   career_level       180 non-null    object
 9   education_level    180 non-null    object
 10  gender             180 non-null    object
 11  salary             180 non-null    object
 12  job_categories     180 non-null    object
 13  skills_and_tools   180 non-null    object
 14  job_description    180 non-null    object
 15  job_requirements   180 non-null    object
 16  key_job            180 non-null    object
 17  posted_datetime    180 non-null    object
 18  month              180 non-null    int64
 19  year               180 non-null    int64
 20  country            180 non-null    object
dtypes: int64(4), object(17)
memory usage: 29.7+ KB

In [6]:
df.head()

,job_name,job_type,company_name,job_location,job_date,num_of_people,experience_needed,career_level,education_level,gender,salary,job_categories,skills_and_tools,job_description,job_requirements,key_job
0,Front-end developer (Vue.js),['Full_Time'],Gulf Terminal,Mansoura Dakahlia Egypt,Posted 22 hours ago,8,3_To_5_Years,Experienced_(Non-Manager),Not_Specified,male and female,Confidential,"['IT/Software Development', 'Engineering - Tel...","['Computer_Science', 'developer', 'Front', 'fr...",['Use markup languages like HTML to create use...,['Proven work experience as a Front-end develo...,front end
1,Senior Front End Developer,['Full_Time'],kafiil,Maadi Cairo Egypt,Posted 2 days ago,50,3_To_6_Years,Experienced_(Non-Manager),Not_Specified,male and female,Confidential,['IT/Software Development'],"['CSS3', 'CSS', 'Front_end', 'front-end', 'HTM...","['Mid to Senior Front End Developer', 'We are ...","['Proven experience as a Front End Developer, ...",front end
2,"Front End Developer (React , Nextjs 14)","['Freelance_/_Project', 'Work_From_Home']",Confidential,Ain Shams Cairo Egypt,Posted 3 days ago,22,3_To_5_Years,"Senior_Management_(CEO,_GM,_Director,_Head)",Not_Specified,male and female,Confidential,['IT/Software Development'],"['front-end', 'Development', 'JavaScript', 'We...",['Use markup languages like HTML to create use...,"['+ Implement performance improvements', '+ De...",front end
3,IT Front End Support Lead,['Full_Time'],DHL,Dubai United Arab Emirates,Posted 11 hours ago,0,Not_Specified,Not_Specified,Not_Specified,male and female,Confidential,"['IT/Software Development', 'Operations/Manage...","['Computer_Science', 'Information_Technology_(...",['COME JOIN THE WORLD’S MOST INTERNATIONAL COM...,none,front end
4,UI Designer and Front-End Developer,['Part_Time'],Ejad,Dokki Giza Egypt,Posted 6 days ago,63,2_To_5_Years,Experienced_(Non-Manager),Not_Specified,male and female,Confidential,"['Business Development', 'Creative/Design/Art'...","['Bootstrap', 'Design', 'front-end', 'JavaScri...",['We are looking for a talented and experience...,['Proven work experience as a UI Designer and ...,front end

### convert job_time to datetime

In [7]:
def extract_time_ago(s):
    match = re.search(r'(\d+) (day|days|minute|minutes|month|months|year|years|hour|hours) ago', s)
    if match:
        value = int(match.group(1))
        unit = match.group(2)
        if unit in ['day', 'days']:
            return pd.Timestamp('now') - pd.DateOffset(days=value)
        elif unit in ['minute', 'minutes']:
            return pd.Timestamp('now') - pd.DateOffset(minutes=value)
        elif unit in ['month', 'months']:
            return pd.Timestamp('now') - pd.DateOffset(months=value)
        elif unit in ['year', 'years']:
            return pd.Timestamp('now') - pd.DateOffset(years=value)
        elif unit in ['hour' , 'hours']:
             return pd.Timestamp('now') - pd.DateOffset(hours=value)
    else:
        return None
df['posted_datetime'] = df['job_date'].apply(extract_time_ago)
df['month']=df['posted_datetime'].dt.month
df['year']=df['posted_datetime'].dt.year

In [8]:
df.head()

,job_name,job_type,company_name,job_location,job_date,num_of_people,experience_needed,career_level,education_level,gender,salary,job_categories,skills_and_tools,job_description,job_requirements,key_job,posted_datetime,month,year
0,Front-end developer (Vue.js),['Full_Time'],Gulf Terminal,Mansoura Dakahlia Egypt,Posted 22 hours ago,8,3_To_5_Years,Experienced_(Non-Manager),Not_Specified,male and female,Confidential,"['IT/Software Development', 'Engineering - Tel...","['Computer_Science', 'developer', 'Front', 'fr...",['Use markup languages like HTML to create use...,['Proven work experience as a Front-end develo...,front end,2024-02-19 19:58:25.691668,2,2024
1,Senior Front End Developer,['Full_Time'],kafiil,Maadi Cairo Egypt,Posted 2 days ago,50,3_To_6_Years,Experienced_(Non-Manager),Not_Specified,male and female,Confidential,['IT/Software Development'],"['CSS3', 'CSS', 'Front_end', 'front-end', 'HTM...","['Mid to Senior Front End Developer', 'We are ...","['Proven experience as a Front End Developer, ...",front end,2024-02-18 17:58:25.694660,2,2024
2,"Front End Developer (React , Nextjs 14)","['Freelance_/_Project', 'Work_From_Home']",Confidential,Ain Shams Cairo Egypt,Posted 3 days ago,22,3_To_5_Years,"Senior_Management_(CEO,_GM,_Director,_Head)",Not_Specified,male and female,Confidential,['IT/Software Development'],"['front-end', 'Development', 'JavaScript', 'We...",['Use markup languages like HTML to create use...,"['+ Implement performance improvements', '+ De...",front end,2024-02-17 17:58:25.695657,2,2024
3,IT Front End Support Lead,['Full_Time'],DHL,Dubai United Arab Emirates,Posted 11 hours ago,0,Not_Specified,Not_Specified,Not_Specified,male and female,Confidential,"['IT/Software Development', 'Operations/Manage...","['Computer_Science', 'Information_Technology_(...",['COME JOIN THE WORLD’S MOST INTERNATIONAL COM...,none,front end,2024-02-20 06:58:25.695657,2,2024
4,UI Designer and Front-End Developer,['Part_Time'],Ejad,Dokki Giza Egypt,Posted 6 days ago,63,2_To_5_Years,Experienced_(Non-Manager),Not_Specified,male and female,Confidential,"['Business Development', 'Creative/Design/Art'...","['Bootstrap', 'Design', 'front-end', 'JavaScri...",['We are looking for a talented and experience...,['Proven work experience as a UI Designer and ...,front end,2024-02-14 17:58:25.695657,2,2024

### return Country Name from Job Location

In [9]:
def loc_country(x):
    country_mapping = {
        'egypt': 'Egypt',
        'lebanon': 'Lebanon',
        'libya': 'Libya',
        'emirates': 'Emirates',
        'saudi arabia': 'Saudi Arabia',
        'united states': 'United States',
        'uganda': 'Uganda',
        'greece': 'Greece',
        'kuwait': 'Kuwait',
        'latvia': 'Latvia',
        'india': 'India',
        'netherlands': 'Netherlands',
        'jordan': 'Jordan',
        'canada': 'Canada',
        'qatar': 'Qatar',
        "argentina": "Argentina"
    }
    
    x_lower = x.lower()
    
    for keyword, country_name in country_mapping.items():
        if keyword in x_lower:
            return country_name
    
    return 'unknown'
df["country"] = df["job_location"].apply(loc_country)

### clean Gender Colume

In [10]:
def gender(x):
    if x in ["Male","Males"]:
        x = "Male"
    elif x in ["Female","Females"]:
        x = "Female"
    else:
        x = "Both"
    return x
 
df['gender'] = df['gender'].apply(gender)

In [11]:
df.gender.value_counts()

gender
Both    387
Male     13
Name: count, dtype: int64

In [12]:
df.head()

,job_name,job_type,company_name,job_location,job_date,num_of_people,experience_needed,career_level,education_level,gender,salary,job_categories,skills_and_tools,job_description,job_requirements,key_job,posted_datetime,month,year,country
0,Front-end developer (Vue.js),['Full_Time'],Gulf Terminal,Mansoura Dakahlia Egypt,Posted 22 hours ago,8,3_To_5_Years,Experienced_(Non-Manager),Not_Specified,Both,Confidential,"['IT/Software Development', 'Engineering - Tel...","['Computer_Science', 'developer', 'Front', 'fr...",['Use markup languages like HTML to create use...,['Proven work experience as a Front-end develo...,front end,2024-02-19 19:58:25.691668,2,2024,Egypt
1,Senior Front End Developer,['Full_Time'],kafiil,Maadi Cairo Egypt,Posted 2 days ago,50,3_To_6_Years,Experienced_(Non-Manager),Not_Specified,Both,Confidential,['IT/Software Development'],"['CSS3', 'CSS', 'Front_end', 'front-end', 'HTM...","['Mid to Senior Front End Developer', 'We are ...","['Proven experience as a Front End Developer, ...",front end,2024-02-18 17:58:25.694660,2,2024,Egypt
2,"Front End Developer (React , Nextjs 14)","['Freelance_/_Project', 'Work_From_Home']",Confidential,Ain Shams Cairo Egypt,Posted 3 days ago,22,3_To_5_Years,"Senior_Management_(CEO,_GM,_Director,_Head)",Not_Specified,Both,Confidential,['IT/Software Development'],"['front-end', 'Development', 'JavaScript', 'We...",['Use markup languages like HTML to create use...,"['+ Implement performance improvements', '+ De...",front end,2024-02-17 17:58:25.695657,2,2024,Egypt
3,IT Front End Support Lead,['Full_Time'],DHL,Dubai United Arab Emirates,Posted 11 hours ago,0,Not_Specified,Not_Specified,Not_Specified,Both,Confidential,"['IT/Software Development', 'Operations/Manage...","['Computer_Science', 'Information_Technology_(...",['COME JOIN THE WORLD’S MOST INTERNATIONAL COM...,none,front end,2024-02-20 06:58:25.695657,2,2024,Emirates
4,UI Designer and Front-End Developer,['Part_Time'],Ejad,Dokki Giza Egypt,Posted 6 days ago,63,2_To_5_Years,Experienced_(Non-Manager),Not_Specified,Both,Confidential,"['Business Development', 'Creative/Design/Art'...","['Bootstrap', 'Design', 'front-end', 'JavaScri...",['We are looking for a talented and experience...,['Proven work experience as a UI Designer and ...,front end,2024-02-14 17:58:25.695657,2,2024,Egypt

In [13]:
df.experience_needed.value_counts()

experience_needed
Not_Specified         92
3_To_5_Years          37
2_To_4_Years          22
More_Than_3_Years     18
2_To_5_Years          16
1_To_2_Years          14
1_To_3_Years          13
4_To_6_Years          10
More_Than_2_Years     10
5_To_10_Years         10
More_Than_4_Years     10
5_To_7_Years          10
3_To_6_Years           9
1_To_5_Years           8
3_To_4_Years           8
5_To_8_Years           7
3_To_7_Years           7
6_To_10_Years          7
More_Than_7_Years      5
4_To_7_Years           5
4_To_8_Years           5
More_Than_5_Years      5
1_To_4_Years           4
0_To_3_Years           4
2_To_3_Years           4
3_To_10_Years          4
2_To_6_Years           4
More_Than_6_Years      3
3_To_20_Years          3
4_To_10_Years          3
5_To_12_Years          3
2_To_7_Years           3
7_To_10_Years          2
6_To_8_Years           2
More_Than_8_Years      2
8_To_12_Years          2
2_To_9_Years           2
4_To_9_Years           2
3_To_15_Years          2
5_To_20_Years          2
More_Than_1_Year       2
3_To_8_Years           2
10_To_12_Years         2
0_To_5_Years           1
More_Than_12_Years     1
0_To_1_Year            1
10_To_20_Years         1
3_To_14_Years          1
5_To_15_Years          1
More_Than_20_Years     1
4_To_5_Years           1
More_Than_10_Years     1
8_To_20_Years          1
5_Years                1
2_To_10_Years          1
8_To_15_Years          1
1_To_7_Years           1
6_To_9_Years           1
Name: count, dtype: int64

In [14]:
import pandas as pd
import ast
import re
from collections import Counter


def extract_experience_range(experience):
    numbers = re.findall(r"\d+", experience)
    if len(numbers) == 2:
        return (int(numbers[0]), int(numbers[1]))
    elif len(numbers) == 1:
        return int(numbers[0])
    else:
        return -1


def process_job(row):
    job_name = row["job_name"]
    experience_needed = row["experience_needed"]
    
    if "Junior" in job_name:
        row["career_level"] = "Junior"
        row["job_name"] = job_name.replace("Junior", "").strip()
    elif "Senior" in job_name:
        row["career_level"] = "Senior"
        row["job_name"] = job_name.replace("Senior", "").strip()
    else:
        if type(experience_needed) is tuple:
            if experience_needed[0] > 5:
                row["career_level"] = "Senior"
            elif 0 < experience_needed[0] <= 5:
                row["career_level"] = "Mid-Level"
            elif experience_needed[0] == 0:
                row["career_level"] = "Junior"
        elif type(experience_needed) is int:
            if experience_needed == 0:
                row["career_level"] = "Junior"
            elif 0 < experience_needed <= 5:
                row["career_level"] = "Mid-Level"
        career = row["career_level"]
        if "Manager" in career or "Senior_Management_(CEO,_GM,_Director,_Head" in career:
            row["career_level"] = "Not_Specified"
    return row


#df = pd.read_csv("JOBS.csv")

# Remove duplicate data ignoring the "search_key" column
df = df.drop_duplicates(subset=df.columns[:-1])

# Filter for rows where "job_categories" contains "Development"
mask = df["job_categories"].str.contains("Development")
df = df[mask]

# Change "experience_needed"
df["experience_needed"] = df["experience_needed"].apply(
    extract_experience_range
)

# Apply the processing function to each row
df = df.apply(process_job, axis=1)

# Check and update "career_level" and "experience_needed"
mask_not_specified = (df["career_level"] == "Not_Specified") & (
    df["experience_needed"] != -1
)
mask_not_specified_mid_level = (
    (mask_not_specified)
    & (
        0
        < df["experience_needed"].apply(
            lambda x: x[0] if type(x) is tuple else x
        )
    )
    & (
        df["experience_needed"].apply(lambda x: x[1] if type(x) is tuple else x)
        <= 5
    )
)
mask_not_specified_junior = (mask_not_specified) & (
    df["experience_needed"].apply(lambda x: x[0] if type(x) is tuple else x)
    == 0
)
mask_not_specified_senior = (mask_not_specified) & (
    df["experience_needed"].apply(lambda x: x[0] if type(x) is tuple else x) > 5
)

mask_experience_needed = (df["career_level"] != "Not_Specified") & (
    df["experience_needed"] == -1
)
mask_experience_needed_junior = (mask_experience_needed) & (
    df["career_level"] == "Junior"
)
mask_experience_needed_mid_level = (mask_experience_needed) & (
    df["career_level"] == "Mid-Level"
)
mask_experience_needed_senior = (mask_experience_needed) & (
    df["career_level"] == "Senior"
)

df.loc[mask_not_specified_mid_level, "career_level"] = "Mid-Level"
df.loc[mask_not_specified_junior, "career_level"] = "Junior"
df.loc[mask_not_specified_senior, "career_level"] = "Senior"

df.loc[mask_experience_needed_junior, "experience_needed"] = 0
df.loc[mask_experience_needed_mid_level, "experience_needed"] = 3
df.loc[mask_experience_needed_senior, "experience_needed"] = 6

mask_entry_level = df["career_level"].str.contains("Entry_Level_")
df.loc[mask_entry_level, "career_level"] = "Junior"
df.loc[mask_entry_level, "experience_needed"] = 0

mask_student = df["career_level"].str.contains("Student_")
df.loc[mask_student, "career_level"] = "Student"
df.loc[mask_student, "experience_needed"] = 0

In [15]:
df.head()

,job_name,job_type,company_name,job_location,job_date,num_of_people,experience_needed,career_level,education_level,gender,salary,job_categories,skills_and_tools,job_description,job_requirements,key_job,posted_datetime,month,year,country
0,Front-end developer (Vue.js),['Full_Time'],Gulf Terminal,Mansoura Dakahlia Egypt,Posted 22 hours ago,8,"(3, 5)",Mid-Level,Not_Specified,Both,Confidential,"['IT/Software Development', 'Engineering - Tel...","['Computer_Science', 'developer', 'Front', 'fr...",['Use markup languages like HTML to create use...,['Proven work experience as a Front-end develo...,front end,2024-02-19 19:58:25.691668,2,2024,Egypt
1,Front End Developer,['Full_Time'],kafiil,Maadi Cairo Egypt,Posted 2 days ago,50,"(3, 6)",Senior,Not_Specified,Both,Confidential,['IT/Software Development'],"['CSS3', 'CSS', 'Front_end', 'front-end', 'HTM...","['Mid to Senior Front End Developer', 'We are ...","['Proven experience as a Front End Developer, ...",front end,2024-02-18 17:58:25.694660,2,2024,Egypt
2,"Front End Developer (React , Nextjs 14)","['Freelance_/_Project', 'Work_From_Home']",Confidential,Ain Shams Cairo Egypt,Posted 3 days ago,22,"(3, 5)",Mid-Level,Not_Specified,Both,Confidential,['IT/Software Development'],"['front-end', 'Development', 'JavaScript', 'We...",['Use markup languages like HTML to create use...,"['+ Implement performance improvements', '+ De...",front end,2024-02-17 17:58:25.695657,2,2024,Egypt
3,IT Front End Support Lead,['Full_Time'],DHL,Dubai United Arab Emirates,Posted 11 hours ago,0,-1,Not_Specified,Not_Specified,Both,Confidential,"['IT/Software Development', 'Operations/Manage...","['Computer_Science', 'Information_Technology_(...",['COME JOIN THE WORLD’S MOST INTERNATIONAL COM...,none,front end,2024-02-20 06:58:25.695657,2,2024,Emirates
4,UI Designer and Front-End Developer,['Part_Time'],Ejad,Dokki Giza Egypt,Posted 6 days ago,63,"(2, 5)",Mid-Level,Not_Specified,Both,Confidential,"['Business Development', 'Creative/Design/Art'...","['Bootstrap', 'Design', 'front-end', 'JavaScri...",['We are looking for a talented and experience...,['Proven work experience as a UI Designer and ...,front end,2024-02-14 17:58:25.695657,2,2024,Egypt

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 362 entries, 0 to 469
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   job_name           362 non-null    object
 1   job_type           362 non-null    object
 2   company_name       362 non-null    object
 3   job_location       362 non-null    object
 4   job_date           362 non-null    object
 5   num_of_people      362 non-null    int64
 6   experience_needed  362 non-null    object
 7   career_level       362 non-null    object
 8   education_level    362 non-null    object
 9   gender             362 non-null    object
 10  salary             362 non-null    object
 11  job_categories     362 non-null    object
 12  skills_and_tools   362 non-null    object
 13  job_description    362 non-null    object
 14  job_requirements   362 non-null    object
 15  key_job            362 non-null    object
 16  posted_datetime    362 non-null    datetime64[ns]
 17  month              362 non-null    int64
 18  year               362 non-null    int64
 19  country            362 non-null    object
dtypes: datetime64[ns](1), int64(3), object(16)
memory usage: 59.4+ KB

In [17]:
df.job_categories.value_counts()

job_categories
['IT/Software Development', 'Engineering - Telecom/Technology']                                                     113
['IT/Software Development']                                                                                         110
['Creative/Design/Art', 'IT/Software Development', 'Engineering - Telecom/Technology']                               59
['Installation/Maintenance/Repair', 'IT/Software Development', 'Engineering - Telecom/Technology']                   12
['Business Development', 'IT/Software Development', 'Engineering - Telecom/Technology']                               8
['IT/Software Development', 'Quality', 'Engineering - Telecom/Technology']                                            7
['IT/Software Development', 'Analyst/Research', 'Engineering - Telecom/Technology']                                   6
['Accounting/Finance', 'IT/Software Development', 'Engineering - Telecom/Technology']                                 6
['IT/Software Development', 'Engineering - Telecom/Technology', 'Engineering - Other']                                4
['IT/Software Development', 'Project/Program Management', 'Engineering - Telecom/Technology']                         4
['Creative/Design/Art', 'IT/Software Development']                                                                    4
['IT/Software Development', 'Other', 'Engineering - Telecom/Technology']                                              3
['Customer Service/Support', 'IT/Software Development', 'Engineering - Telecom/Technology']                           3
['IT/Software Development', 'Engineering - Telecom/Technology', 'Engineering - Mechanical/Electrical']                3
['IT/Software Development', 'Tourism/Travel', 'Engineering - Telecom/Technology']                                     2
['Business Development', 'Creative/Design/Art', 'IT/Software Development']                                            2
['IT/Software Development', 'Operations/Management', 'Engineering - Telecom/Technology']                              2
['Installation/Maintenance/Repair', 'IT/Software Development', 'Engineering - Other']                                 1
['Administration', 'IT/Software Development', 'Engineering - Telecom/Technology']                                     1
['Installation/Maintenance/Repair', 'IT/Software Development']                                                        1
['IT/Software Development', 'Marketing/PR/Advertising', 'Engineering - Telecom/Technology']                           1
['IT/Software Development', 'Project/Program Management', 'Sales/Retail']                                             1
['Business Development', 'Customer Service/Support', 'Sales/Retail']                                                  1
['IT/Software Development', 'Engineering - Other']                                                                    1
['IT/Software Development', 'Media/Journalism/Publishing', 'Engineering - Telecom/Technology']                        1
['IT/Software Development', 'Sales/Retail', 'Engineering - Telecom/Technology']                                       1
['Engineering - Construction/Civil/Architecture', 'IT/Software Development', 'Engineering - Telecom/Technology']      1
['Business Development', 'Marketing/PR/Advertising', 'Sales/Retail']                                                  1
['IT/Software Development', 'Other']                                                                                  1
['IT/Software Development', 'Marketing/PR/Advertising', 'Project/Program Management']                                 1
['R&D/Science', 'IT/Software Development', 'Engineering - Telecom/Technology']                                        1
Name: count, dtype: int64

In [18]:
df[df["job_categories"] =="['Business Development', 'Marketing/PR/Advertising', 'Sales/Retail']"]

,job_name,job_type,company_name,job_location,job_date,num_of_people,experience_needed,career_level,education_level,gender,salary,job_categories,skills_and_tools,job_description,job_requirements,key_job,posted_datetime,month,year,country
353,Business Development Specialist,['Full_Time'],Aman,6th of October Giza Egypt,Posted 22 days ago,69,"(3, 6)",Senior,Bachelor'S_Degree,Both,Confidential,"['Business Development', 'Marketing/PR/Adverti...","['Business_Development', 'Communication', 'Ope...",['Acts as the point of contact between Aman an...,['Good understanding of E-payment operations a...,unknown,2024-01-29 17:58:25.733556,1,2024,Egypt

### Filter Job Categories to IT/Software Development

In [19]:
def filter_job_categories(x):
    if "IT/Software Development".lower() in x.lower():
        x = "IT/Software Development"
    else:
        x = "other"
    return x
df["job_categories"] = df["job_categories"].apply(filter_job_categories)

In [20]:
df = df.drop(df[df["job_categories"] == 'other'].index)
df = df.reset_index(drop=True)

In [21]:
df["job_categories"].value_counts()

job_categories
IT/Software Development    360
Name: count, dtype: int64

In [22]:
df = df.drop(df[df["key_job"] == 'unknown'].index)
df = df.reset_index(drop=True)

In [23]:
df.key_job.value_counts()

key_job
front end     59
full stack    41
back end      34
Name: count, dtype: int64

### Edit Career Level in Data

In [22]:
def filter_career(x):
    if x in ["Not_Specified","Junior"]:
        result = "Entry Level"
    else:
        result = x
    return result
df["career_level"] = df["career_level"].apply(filter_career)

In [23]:
df.career_level.value_counts()

career_level
Senior         73
Mid-Level      68
Entry Level    39
Name: count, dtype: int64

### Edit Salary in Data

In [24]:
df["key_career"] = df["career_level"]  +" "+ df["key_job"]
df["key_career"].value_counts()

key_career
Senior front end              39
Mid-Level front end           28
Mid-Level full stack          23
Senior full stack             22
Mid-Level back end            17
Entry Level back end          14
Senior back end               12
Entry Level front end         10
Entry Level full stack         9
Entry Level Data Scientist     4
Entry Level DevOps             2
Name: count, dtype: int64

In [25]:
def salary(x):
    if x == "Senior front end":
        return "(25000,40000)"
    elif x == "Mid-Level front end":
        return "(15000,25000)"
    elif x == "Entry Level front end":
        return "(8000,15000)"
    elif x == "Senior back end":
        return "(25000,40000)"
    elif x == "Mid-Level back end":
        return "(15000,25000)"
    elif x == "Entry Level back end":
        return "(8000,15000)"
    elif x == "Senior full stack":
        return "(30000,45000)"
    elif x == "Mid-Level full stack":
        return "(18000,30000)"
    elif x == "Entry Level full stack":
        return  "(10000,18000)"
    elif x == "Entry Level Data Scientist":
        return "(15000,25000)"
    elif x == "Mid-Level Data Scientist":
        return "(25000,40000)"
    elif x == "Senior Data Scientist":
        return "(40000,60000)"
    elif x == "Entry Level DevOps":
        return "(10000,20000)"
    elif x == "Mid-Level DevOps":
        return "(20000,35000)"
    elif x == "Senior DevOps":
        return  "(30000,50000)"
    

df["salary"]  = df["key_career"].apply(salary)

In [26]:
df[["key_career","salary"]].value_counts().reset_index()

                    key_career         salary  count
0             Senior front end  (25000,40000)     39
1          Mid-Level front end  (15000,25000)     28
2         Mid-Level full stack  (18000,30000)     23
3            Senior full stack  (30000,45000)     22
4           Mid-Level back end  (15000,25000)     17
5         Entry Level back end   (8000,15000)     14
6              Senior back end  (25000,40000)     12
7        Entry Level front end   (8000,15000)     10
8       Entry Level full stack  (10000,18000)      9
9   Entry Level Data Scientist  (15000,25000)      4
10          Entry Level DevOps  (10000,20000)      2

In [27]:
def remove_punctuations(row):
    return re.sub(r'[^\w\s]', ' ', row).lower()
df['job_description'] = df['job_description'].apply(remove_punctuations)
df['job_requirements'] = df['job_requirements'].apply(remove_punctuations)
df['skills_and_tools'] = df['skills_and_tools'].apply(remove_punctuations)

In [28]:
stop_words = stopwords.words("english")
bad_words = [
    "computer_science",
    "information_technology_it",
    "software_development",
    "software_engineering",
    "engineering",
    "english",
    "software",
    "years",
    "applications",
    "build",
    "create",
    "development",
    "improve",
    "developers",
    "features",
    "ensure",
    "cairo",
    "information_technology_",
    "web_development",
    "computer_engineering",
    "end",
    "e",
    "g",
    "eg",
]
for word in bad_words:
    stop_words.append(word)


def remove_stop_words(row):
    row = str((row))
    text_combination = row.split(" ")
    non_stop_words = []
    for word in text_combination:
        if word.lower() not in stop_words:
            non_stop_words.append(word)

    return non_stop_words


df["job_description"] = df["job_description"].apply(remove_stop_words)
df["job_requirements"] = df["job_requirements"].apply(remove_stop_words)
df["skills_and_tools"] = df["skills_and_tools"].apply(remove_stop_words)

In [29]:
def extract_information(job):
    job = str(job)
    doc = nlp(job)

    # Extract entities or keywords based on your requirements
    relevant_info = set()
    entities_to_extract = [
        "Extra points",
        "Proficient understanding",
        "Understanding",
        "Skill",
        "degree",
        "Responsibilties",
        "Engage",
        "Experience",
        "trong troubleshooting skill",
        "Basic understanding",
    ]  
    for ent in doc.ents:
        if ent.label_ in entities_to_extract:
            relevant_info.add(ent.text)

    # If no relevant entities found, return the first few sentences
    if not relevant_info:
        return ". ".join(job.split(".")[:2]).strip()

    # Return the extracted relevant information as a string
    return ", ".join(relevant_info)


# Apply the extraction function to each row of the 'job_description' column in your DataFrame
df["job_description_info"] = df["job_description"].apply(extract_information)
df["job_requirements_info"] = df["job_requirements"].apply(extract_information)
df["skills_and_tools_info"] = df["skills_and_tools"].apply(extract_information)

In [30]:
# Function to clean and tokenize text
def clean_and_tokenize(text):
    # Convert text to lowercase
    text = str(text)
    text = text.lower()
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    return text

# Apply the function to each row of the DataFrame and tokenize
df['job_requirements_info'] = df['job_requirements_info'].apply(clean_and_tokenize)
df["job_description_info"] = df["job_description_info"].apply(clean_and_tokenize)
df["skills_and_tools_info"] = df["skills_and_tools_info"].apply(clean_and_tokenize)

In [31]:
df.drop(["job_date","job_requirements","job_description","skills_and_tools","job_categories",],axis=1,inplace=True)

In [32]:
def convert_to_str(raw):
    cleaned_str = ""
    for char in raw:
        if char.isalpha() or char.isdigit() or char in ["'", ",", " "]:
            cleaned_str += char
    return cleaned_str.strip(" ,")

df["job_description_info"] = df["job_description_info"].apply(convert_to_str)
df["job_requirements_info"] = df["job_requirements_info"].apply(convert_to_str)
df["skills_and_tools_info"] = df["skills_and_tools_info"].apply(convert_to_str)

In [33]:
df.head()

,Unnamed: 0,job_name,job_type,company_name,job_location,num_of_people,experience_needed,career_level,education_level,gender,salary,key_job,posted_datetime,month,year,country,key_career,job_description_info,job_requirements_info,skills_and_tools_info
0,0,Front-end developer (Vue.js),['Full_Time'],Gulf Terminal,Mansoura Dakahlia Egypt,8,"(3, 5)",Mid-Level,Not_Specified,Both,"(15000,25000)",front end,2024-02-19 19:58:25.691668,2,2024,Egypt,Mid-Level front end,use markup languages like html user friendly w...,proven work experience front developer hand...,developer front front front enddevelo...
1,1,Front End Developer,['Full_Time'],kafiil,Maadi Cairo Egypt,50,"(3, 6)",Senior,Not_Specified,Both,"(25000,40000)",front end,2024-02-18 17:58:25.694660,2,2024,Egypt,Senior front end,mid senior front developer currently seekin...,proven experience front developer strong port...,css3 css frontend front html5 g...
2,2,"Front End Developer (React , Nextjs 14)","['Freelance_/_Project', 'Work_From_Home']",Confidential,Ain Shams Cairo Egypt,22,"(3, 5)",Mid-Level,Not_Specified,Both,"(15000,25000)",front end,2024-02-17 17:58:25.695657,2,2024,Egypt,Mid-Level front end,use markup languages like html user friendly w...,implement performance improvements design...,front javascript css api rea...
3,3,IT Front End Support Lead,['Full_Time'],DHL,Dubai United Arab Emirates,0,-1,Entry Level,Not_Specified,Both,"(8000,15000)",front end,2024-02-20 06:58:25.695657,2,2024,Emirates,Entry Level front end,come join world international company compa...,none,css javascript html html5 re...
4,4,UI Designer and Front-End Developer,['Part_Time'],Ejad,Dokki Giza Egypt,63,"(2, 5)",Mid-Level,Not_Specified,Both,"(15000,25000)",front end,2024-02-14 17:58:25.695657,2,2024,Egypt,Mid-Level front end,looking talented experienced ui designer front...,proven work experience ui designer front devel...,bootstrap design front javascript ...

In [34]:
df.to_csv("new_JOBS.csv")